header {
  width: 100%;
  height: 100px;
  color: white;
  background-color: black;
  user-select: none;
  z-index: 10;
  visibility: hidden;
}

.header-container {
  margin: 0 auto;
  width: 75%;
  height: inherit;
  padding-top: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.app-logo-container {
  flex: 0 0 15%;
  max-width: 140px;
  min-width: 80px;
  cursor: pointer;
}

.app-logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#navigation_links {
  flex: 0 0 35%;
  max-width: 330px;
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navigation_links div {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4125rem;
  cursor: pointer;
}

#navigation_links img {
  width: 20px;
  pointer-events: none;
  cursor: auto;
}

#navigation_links div a {
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
  pointer-events: none;
}

.navigation-icon-active {
  filter: invert(50%) sepia(94%) saturate(403%) hue-rotate(88deg) brightness(94%) contrast(92%);
  opacity: 0.8;
}

#navigation_links div a.navigation-text-active {
  color: var(--green-spotify);
  font-weight: 800;
  opacity: 0.8;
  /* font-size: 15px; */
}

.search_container {
  /* margin-top: 10px; */
  flex: 0 0 35%;
  max-width: 320px;
  min-width: 100px;
  height: 40px;
  padding: 7px;
  display: flex;
  align-items: center;
  background-color: var(--background-input-search);
  border-radius: 25px;
  /* border: 1px solid red; */
}

.search_container:focus-within {
  outline: 1px solid #ffffffc4;
  border-radius: 25px;
}

.search_container img:first-of-type {
  margin: 10px;
  width: 20px;
  opacity: 0.5;
}

.search_container img:last-of-type {
  width: 30px;
  opacity: 0.8;
  visibility: hidden;
}

#search {
  width: 100%;
  line-height: 23px;
  color: var(--font-input-search);
  font-family: 'GothamMedium';
  font-size: 0.8rem;
  background-color: transparent;
  border: none;
  text-overflow: ellipsis;
}

#search::selection {
  background-color: var(--selection-input-search);
}

#search:focus {
  outline: none;
  caret-color: white;
}

#search_result {
  width: 100%;
  height: 100%;
  padding: 40px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 170px));
  justify-items: center;
  align-items: center;
  gap: 40px;
  overflow: scroll;
  transition: width 0.4s ease-in-out;
}

#search_result.shrink_result {
  width: 70%;
}

.error-box {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.3rem;
  color: white;
}

.error-box h1 {
  text-align: center;
  font-weight: 900;
}

.error-box span {
  text-align: center;
  font-size: 14px;
  opacity: 0.6;
}

#panel_config {
  position: relative;
  width: fit-content;
  max-width: 170px;
  display: flex;
  gap: 1.2rem;
}

#panel_config img {
  width: 22px;
  object-fit: cover;
  cursor: pointer;
}

#modal-config {
  position: absolute;
  top: 40px;
  width: 150px;
  background-color: var(--black-card);
  border-radius: 5px;
  visibility: hidden;
  z-index: 10;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

#modal-config.selection-active {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

#modal-config h3 {
  width: 100%;
  font-size: 12px;
  line-height: 20px;
  font-weight: 200;
  padding: 8px 20px;
}

#modal-config h3:hover {
  background-color: var(--user-hover);
  cursor: pointer;
}

#modal-config h3:first-of-type:hover {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#modal-config h3:last-of-type:hover {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

#reset-confirmation {
  display: flex;
}

#reset-confirmation span:hover {
  filter: none;
  cursor: pointer;
}

#reset-confirmation span {
  filter: brightness(0.4);
  padding: 10px;
  text-align: center;
  width: 50%;
  font-size: 14px;
}

.yes {
  border-bottom-left-radius: 5px;
  background-color: var(--green-valid-field);
}

.no {
  border-bottom-right-radius: 5px;
  background-color: var(--red-valid-field);
}

/* Help container */

#help-container {
  position: absolute;
  width: 100%;
  height: 106%;
  animation: help-pop 0.5s ease-in-out forwards;
  /* background-color: var(--help-background); */
  border-radius: 5px;
}

.user_box {
  padding: 40px;
  width: 100%;
  height: 34%;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.329); */
}

#help-container p {
  font-size: 11px;
  line-height: 16px;
  font-weight: 200;
  opacity: 0.8;
  width: 350px;
  float: right;
}

#help-container nav {
  position: absolute;
  bottom: 20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 42px;
}

#help-container nav p {
  text-align: center;
  padding: 15px 20px;
}

.help-active {
  opacity: 0.7;
}

.likes_box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0px;
  width: 460px;
  height: 350px;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: var(--black-card);
}

.daily_box {
  width: 260px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: var(--black-card);
}

.rec_box {
  position: relative;
  /* margin-top: 5px; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: var(--black-card);
}

@keyframes help-pop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Responsive */

@media screen and (max-width: 1280px) {
  .error-box {
    width: 60%;
  }

  .header-container {
    width: 95%;
  }

  .app-logo-container {
    flex: 0 0 12%;
  }

  #navigation_links {
    justify-content: space-around;
    gap: 16px;
  }

  #navigation_links img {
    width: 12px;
  }

  #navigation_links div a {
    font-size: 0.8rem;
  }

  #panel_config {
    padding-left: 15px;
  }

  #panel_config img {
    width: 18px;
  }

  .search_container {
    height: 33px;
    padding: 10px;
    flex: 0 0 30%;
  }

  .search_container:focus-within {
    outline: 1px solid #ffffff70;
  }

  .search_container img:first-of-type {
    margin: 0px;
    margin-right: 5px;
    width: 16px;
    opacity: 0.5;
  }

  .search_container img:last-of-type {
    width: 20px;
    opacity: 0.8;
    visibility: hidden;
  }

  #search {
    line-height: 15px;
    font-size: 0.7rem;
  }

  #search::placeholder {
    font-size: 0.7rem;
  }

  #search_result {
    padding: 55px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 130px));
    column-gap: 70px;
  }

  #modal-config {
    left: -75px;
    top: 45px;
  }

  #modal-config h3 {
    font-size: 0.7rem;
  }

  .user_box {
    border: none;
    padding: 10px;
    height: 17%;
  }

  #help-container {
    /* padding: 40px; */
    margin-top: 100px;
    /* width: 80%; */
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  #help-container nav {
    padding-bottom: 30px;
    top: 40px;
    position: relative;
    flex-wrap: wrap;
  }

  #help-container p {
    font-size: 10px;
  }

  .likes_box {
    margin-top: 10px;
    width: 440px;
    height: 280px;
  }

  .daily_box {
    margin-top: 10px;
    width: 290px;
    height: 280px;
  }

  .rec_box {
    margin-top: -12px;
    height: 335px;
    width: 460px;
  }
}

@media screen and (max-width: 601px) {
  .header-container {
    width: 85%;
  }

  .app-logo-container {
    display: none;
  }

  #navigation_links {
    margin-right: 20px;
    max-width: 110px;
    min-width: 50px;
  }

  #navigation_links img {
    width: 20px;
  }

  #navigation_links div a {
    display: none;
  }

  #panel_config img {
    width: 19px;
  }

  .search_container {
    height: 28px;
    padding: 10px;
    flex: 0 0 35%;
  }

  .search_container img:first-of-type {
    margin: 0px;
    margin-right: 5px;
    width: 15px;
    opacity: 0.5;
  }

  .search_container img:last-of-type {
    width: 23px;
    opacity: 0.8;
    visibility: hidden;
  }

  .search_container:focus-within {
    outline: 1px solid #ffffff4d;
  }

  #search {
    line-height: 18px;
    font-size: 0.6rem;
  }

  #search::placeholder {
    font-size: 0.6rem;
  }

  #modal-config {
    width: 85px;
    left: -15px;
    top: 35px;
  }

  #modal-config h3 {
    font-size: 0.6rem;
  }

  #search_result {
    padding: 35px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 130px));
    justify-items: center;
    align-items: center;
    gap: 30px;
  }

  .user_box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .likes_box {
    /* margin-top: -15px; */
    width: 350px;
    height: 240px;
  }

  .daily_box {
    margin-top: -15px;
    width: 240px;
    height: 230px;
  }

  .rec_box {
    margin-top: -22px;
    height: 335px;
    width: 300px;
    margin-bottom: 40px;
  }
}
