article#home {
  position: relative;
  width: 100%;
  margin-bottom: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: width 0.8s;
  user-select: none;
  transform: scale(0.6);
  opacity: 0;
  animation: appearance 1s ease-in-out forwards;
}

article#home.shrink_result {
  width: 75%;
}

.user-information {
  position: relative;
  margin: 0 auto;
  padding: 30px;
  width: 50%;
  filter: none;
}

.blurred {
  filter: blur(16px) brightness(0.8);
  transition: all 0.4s ease-in-out;
}

/* Profile Picture */

#picture-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: -135px;
  top: 0px;
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.profile-picture {
  position: relative;
  width: 100%;
  object-fit: cover;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.301));
  transition: filter 0.5s ease-in-out;
}

#picture-container:hover {
  cursor: pointer;
  background: url('https://res.cloudinary.com/drft9abh4/image/upload/v1704820760/change-svgrepo-com_nhos8n.svg')
    center/25% no-repeat;
}

#picture-container:hover .profile-picture {
  z-index: -333333;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.301)) brightness(0.3);
  transition: all 0.3s ease-in-out;
}

#profile-pictures-selection {
  position: absolute;
  top: 40px;
  left: 45px;
  padding: 10px 30px;
  display: flex;
  /* width: 190px; */
  justify-content: center;
  flex-wrap: wrap;
  background-color: #18181854;
  border-radius: 5px;
  visibility: hidden;
  z-index: 10;
  opacity: 0;
  /* border-bottom-left-radius: 20px; */
  /* transition: all 0.3s ease-in-out; */
  /* opacity: 0.6; */
}

#profile-pictures-selection.selection-active {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease-in-out;
}

.profile-picture-miniature {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* opacity: 0.6; */
}

.profile-picture-miniature:hover {
  transform: scale(1.1);
  cursor: pointer;
  opacity: 1;
}

.miniature-selected {
  border: 2px solid var(--green-spotify);
  opacity: 1;
}

.confirm-picture {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 20px;
}

.confirm-picture:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* User Info */

.user-information > span {
  font-size: 12px;
}

.user-information > h1 {
  position: relative;
  width: fit-content;
  margin-left: 10px;
  font-size: 60px;
}

.user-information > p {
  margin-top: 20px;
  font-size: 12px;
}

.current-date {
  margin-right: 25px;
  text-align: right;
  font-size: 10px;
}

.playlist-info {
  width: fit-content;
  margin-top: 10px;
  padding: 0px 15px;
}

.playlist-info span {
  font-size: 11px;
  opacity: 0.7;
}

.playlist-info img {
  position: absolute;
  margin-left: 6px;
  width: 20px;
}

#play_liked_playlist {
  position: absolute;
  top: 0px;
  right: -100px;
  padding: 15px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--green-spotify);
  box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.589);
  opacity: 0.8;
}

#play_liked_playlist:hover {
  /* transform: scale(1.05); */
  box-shadow: 2px 1px 6px 0px rgba(0, 0, 0, 0.589);
  cursor: pointer;
}

/* Likes */

#user-songs-section {
  margin: 0 auto;
  height: calc(80% - 3.125rem);
  display: flex;
  justify-content: space-around;
  gap: 42px;
}

ul {
  position: relative;
  padding: 15px 0px;
  margin-top: 35px;
  width: 460px;
  height: 350px;
  list-style: none;
  overflow: scroll;
  border-radius: 15px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: var(--black-card);
  /* background-color: rgba(0, 0, 0, 0.466); */
}

.empty-likes {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 13px;
  opacity: 0.3;
}

.liked_song_li {
  margin: 0 auto;
  position: relative;
  height: 50px;
  display: flex;
  /* width: 90%; */
  align-items: center;
  padding: 5px 30px;
  /* border: 1px solid red; */
}

.liked_song_li:hover {
  background-color: var(--user-background);
  cursor: pointer;
}

.liked_song_li:hover img:last-child {
  display: block;
  opacity: 0.5;
}

.liked_song_li img:first-child {
  height: 100%;
  margin-right: 15px;
  object-fit: cover;
}

.liked_song_li img:last-child {
  position: absolute;
  right: 35px;
  width: 15px;
  display: none;
  cursor: pointer;
}

.liked_song_li img:last-child:hover {
  opacity: 1;
  transform: scale(1.1);
}

.liked_song_li h4 {
  width: 165px;
  margin-right: 30px;
  font-size: 12px;
  pointer-events: none;
  font-weight: 200;
  /* border: 1px solid red; */
}

.liked_song_li span {
  font-size: 12px;
  width: 110px;
  opacity: 0.8;
}

.playing-liked-song-active {
  color: var(--green-spotify);
}

/* Daily */

.daily-track {
  margin-top: 35px;
  width: 260px;
  height: 350px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: var(--black-card);
}

.daily-track:hover {
  cursor: pointer;
  background-color: var(--user-background);
}

.daily-track img {
  width: 180px;
  margin-bottom: 40px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.288);
  filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.473));
  pointer-events: none;
}

.daily-track h3 {
  margin-bottom: 10px;
  margin-left: 10px;
  font-size: 13px;
  pointer-events: none;
  line-height: 18px;
}

.daily-track span {
  padding-top: 4px;
  margin-left: 10px;
  opacity: 0.7;
  font-size: 11px;
  pointer-events: none;
}

/* Recommendations */

#recommendations-list {
  position: relative;
  margin-top: 32px;
  width: 360px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.recommendations_card {
  position: relative;
  /* display: inline-block; */
  width: 150px;
  height: 150px;
  margin: 5px 6px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background-color: var(--black-card);
  border-radius: 10px;
  user-select: none;
}

.recommendations_card:hover {
  transform: scale(1.03);
  background-color: var(--user-background);
}

/* Flag Category */

#user-category {
  position: absolute;
  right: -40px;
  top: -5px;
  width: 40px;
}

/*  RESPONSIVE */

@media screen and (max-width: 1280px) {
  .current-date {
    margin-top: 10px;
    font-size: 9px;
  }

  article#home {
    height: 100%;
    overflow: scroll;
    margin-bottom: 0px;
    padding: 20px 0px;
  }

  article#home.shrink_result {
    width: 95%;
  }

  #picture-container {
    left: -110px;
    top: 5px;
    width: 140px;
  }

  #profile-pictures-selection {
    top: 25px;
    width: 210px;
  }

  #user-songs-section {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  .user-information > h1 {
    font-size: 50px;
  }

  ul {
    margin-top: 25px;
    width: 380px;
    height: 280px;
  }

  .liked_song_li h4 {
    width: 105px;
    font-size: 11px;
  }

  .daily-track {
    margin-top: 25px;
    width: 190px;
    height: 280px;
  }

  .daily-track img {
    width: 130px;
    margin-bottom: 40px;
  }

  #recommendations-list {
    margin-top: -15px;
    padding-bottom: 30px;
  }
}

@media screen and (max-height: 800px) {
  .current-date {
    margin-top: 30px;
    font-size: 9px;
  }

  article#home {
    height: 100%;
    overflow: scroll;
    margin-bottom: 0px;
    padding: 20px 0px;
  }

  article#home.shrink_result {
    width: 95%;
  }

  #picture-container {
    left: -110px;
    top: 5px;
    width: 140px;
  }

  #profile-pictures-selection {
    top: 25px;
    width: 210px;
  }

  #user-songs-section {
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  .user-information > h1 {
    font-size: 50px;
  }

  ul {
    margin-top: 25px;
    width: 380px;
    height: 280px;
  }

  .liked_song_li h4 {
    width: 105px;
    font-size: 11px;
  }

  .daily-track {
    margin-top: 25px;
    width: 190px;
    height: 280px;
  }

  .daily-track img {
    width: 130px;
    margin-bottom: 40px;
  }

  #recommendations-list {
    margin-top: -15px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 601px) {
  article#home {
    overflow-x: hidden;
  }

  .current-date {
    font-size: 8px;
  }

  #picture-container {
    left: -75px;
    top: -10px;
    width: 100px;
  }

  #profile-pictures-selection {
    width: 170px;
    top: 10px;
    left: 35px;
    padding: 10px;
  }

  .confirm-picture {
    position: absolute;
    /* right: -10px; */
    top: unset;
    bottom: -10px;
    width: 20px;
  }

  #user-songs-section {
    width: 80%;
    gap: 1rem;
  }

  .user-information {
    width: 40%;
  }

  .user-information > h1 {
    font-size: 30px;
  }

  .playlist-info {
    width: max-content;
  }

  .playlist-info span {
    font-size: 9px;
    opacity: 0.7;
  }

  #play_liked_playlist {
    right: -50px;
    padding: 9px;
    width: 35px;
    height: 35px;
  }

  ul {
    margin-top: 25px;
    width: 370px;
    height: 240px;
  }

  .liked_song_li {
    padding-left: 40px;
  }

  .liked_song_li h4 {
    width: 135px;
    font-size: 11px;
  }

  .liked_song_li span {
    font-size: 10px;
    width: 80px;
    /* border: 1px solid red; */
  }

  .liked_song_li img:last-child {
    left: 12px;
  }

  .daily-track {
    margin-top: 25px;
    width: 190px;
    height: 230px;
  }

  .daily-track img {
    width: 100px;
    margin-bottom: 40px;
  }

  #recommendations-list {
    margin-top: 12px;
    width: 280px;
  }

  .recommendations_card {
    width: 110px;
    height: 110px;
  }

  #user-category {
    width: 30px;
    left: -19px;
    top: -0px;
    transform: rotate(90deg);
  }
}
